<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for item, detail in basket.items  %}
   {{ detail.name}}<br>
    {% for tare, detail in detail.type.items %}
        --{{ tare }} - {{ detail.count }}
        <br>
        {{ detail.total_price }}
{#        {% widthratio detail.count 1 detail.price %}#}
        <form action="{% url "add_item" %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="item" value="{{ item }}">
        <input type="hidden" name="tare" value="{{ tare }}">
        <input type="hidden" name="path" value="{% url "basket" %}">
        <input type="hidden" name="count" value=1>
        <input type="hidden" name="price" value={{ detail.price }}>
        <button type="submit">+1</button>
        </form>
        <form action="{% url "remove_item" %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="item" value="{{ item }}">
        <input type="hidden" name="tare" value="{{ tare }}">
        <button type="submit">-1</button>
        </form>
        <form action="{% url "delete_item" %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="item" value="{{ item }}">
        <input type="hidden" name="tare" value="{{ tare }}">
        <button type="submit">Удалить</button>
        </form>
        <br>
    {% endfor %}
{% endfor %}
<form action="{% url "payment" %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="amount" value="5">
    <button type="submit">Оплатить</button>
</form>
</body>
</html>