{% extends 'mandala_shop/base.html' %}
{% load static %}
{% block content %}
    <div class="cart-table-area section-padding-100">
                <div class="container-fluid">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="total_cart_price" value="{{ total_cart_price }}">
                        <input type="hidden" name="cart_data" value="{{ cart_data }}">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="checkout_details_area mt-50 clearfix">

                                    <div class="cart-title">
                                        <h2>Доставка</h2>
                                    </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <input type="text" class="form-control" id="first_name" value="{{ data.first_name }}" name="first_name" placeholder="Ім'я" required>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <input type="text" class="form-control" id="last_name" value="{{ data.last_name }}" name="last_name" placeholder="Прізвище" required>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <input type="email" class="form-control" id="email" placeholder="Почта" value="{{ data.email }}" name="email" required>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <input type="text" class="form-control" id="city" placeholder="Місто" value="{{ data.city }}" name="city" required>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <input type="text" class="form-control mb-3" id="street_address" placeholder="Номер відділення Нової Почти " value="{{ data.department_number }}" name="department_number" required>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <input type="tel" class="form-control" id="phone_number" min="0" placeholder="Номер Телефона" value="{{ data.phone }}" name="phone" required>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="cart-summary">
                                    <h5>Cart Total</h5>
                                    <ul class="summary-table">
                                        <li><span>Сума:</span> <span>{{ total_cart_price }}</span></li>
                                        <li><span>Доставка:</span> <span>Безкоштовно</span></li>
                                        <li><span>Разом:</span> <span>{{ total_cart_price }}</span></li>
                                    </ul>

                                    <div class="payment-method">
                                        <!-- Cash on delivery -->
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="radio" class="custom-control-input" id="cod" checked>
                                            <label class="custom-control-label" for="cod">Оплата при отриманні</label>
                                        </div>
                                        <!-- Paypal -->
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="radio" class="custom-control-input" id="paypal">
                                            <label class="custom-control-label" for="paypal">Онлайн Оплата <img class="ml-15" src="img/core-img/paypal.png" alt=""></label>
                                        </div>
                                    </div>

                                    <div class="cart-btn mt-100">
                                        <button type="submit" class="btn amado-btn w-100">Замовити</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <!-- ##### Main Content Wrapper End ##### -->
{% endblock %}